
body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #000;
  }
.main{
  display: flex;
  justify-content: center;
  align-items: middle;
  width: 800px;
  margin: 0 auto;
  margin-top:  100px;
  background: #e2e2e2;
  }
